<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <title>List of car images</title>
   </head>
   <body>
   		<div class="application-wrapper">   			
   			<div class= "middle-part">    				
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1>Images List</h1>
					</div>
			        <div class="cars-grid" th:each="carImg : ${listCarImg}" th:object="${imgUtil}">		   						   						
						<img th:src="'data:image/png;base64,' + ${imgUtil.getImgData(carImg.img)}" />
				    </div>	      				          					      			    		
				</div>
			</div>
		</div>
   </body>
   
</html>