<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link type="text/css" th:href = "@{/css/app_style.css}" rel = "stylesheet"/>      
      <title>Save Image</title>
   </head>
   <body> 
   		<div class="application-wrapper">   			
   			<div class= "middle-part">    				
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1>Add new Image</h1>
					</div>  		   		    						
					<form action="#" th:action="@{/car-img-save}" th:object="${carImg}" method="POST" 
					   		enctype="multipart/form-data">
					   		
					 	<div class="grid-container-base grid-container-two-col">		   							   		            
					       	<label>Type of image</label>
							<input class="text-input-box" type="text" size="18" th:field="*{imgType}">
						   					
							<label>Image Description</label>
							<input class="text-input-box" type="text" size="18" th:field="*{description}">
						   							   							   				
							<label>Choose image file</label>
							<input type="file" name="img-main" accept="image/*">																							   						   			
						</div> 
						<div class="button-part">  				   				   				   				
							<button class="confirm-button" type="submit">Save image</button>
						</div>		   				
					 </form>
				 </div>
			 </div>
		 </div>
		   		   			   	
   </body>
</html>