<!DOCTYPE html>
<!-------------------------------------->
<!-- List of Car Engines - table form -->
<!-------------------------------------->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title>Car Engine list</title>
   </head>
   <body>
   <div class="application-wrapper">   
	   <div class= "middle-part">   
		   <div class="content-part">
	   			<div class="title-part" >		
					<h1>Car Engine list</h1>
				</div>
				<div class="table-part">			  			    	
		      		<table cellspacing="0" cellpadding="0">
		      			<tr class="row_head">	      				
	      					<th>Id</th>
	      					<th>Fuel</th>
	      					<th>Engine Group</th>
	      					<th>Name</th>
	      					<th>Code</th>
	      					<th>Power</th>	      					      					
	      					<th></th>
	      					<th></th>
		      			</tr>
		      			<th:block th:each="engine : ${listEntities}" th:object="${engine}">		      					      		
	      					<tr class="row_body">
		      					<td th:text="*{id}"></td>
		      					<td th:text="*{propellantType.getNiceValue()}"></td>
		      					<td th:text="*{engineGroup}"></td>		      							      					
		      					<td th:text="*{name}"></td>							
								<td th:text="*{code}"></td>
								<td th:text="*{power}"></td>						      					      					      					
			      				
			      				<!-- update, delete icons -->			
			      				<td class="update-column">
			      					<a th:href="@{/car-engine-update/} + *{id}" >
			      						<img src="/img/edit-icon16.png" alt="Edit Car Engine" >
			      					</a>	      						
			      				</td>
			      				<td class="delete-column">
		      						<a th:href="@{/car-engine-delete/} + *{id}" >
		      							<img src="/img/delete.png" alt="Delete Car Engine" >
		      						</a>      						
		      					</td>				
		      				</tr>
		      			</th:block>  	
		      		</table>
	      		</div>
	      		<div class="button-part">
	      			<!--  <a th:href="@{/car-engine-new/{brand_url_name}(brand_url_name=${listEntities[0].getName()})}" -->
	      			<a th:href="@{/car-engine-new}"	      			
	      				class="confirm-button">New Record</a>
	      		</div>
	      	</div>  <!-- End content-part -->
   		</div> <!--  End of middle part -->
   		<div class="footer-part">
   		</div>  	
   </div> <!-- End of application-wrapper -->  	
   </body>
   
</html>