<div th:fragment="info-strip">


	<div class="user-info" sec:authorize="isAuthenticated()">
		<!-- User name, Button for LOGOUT -->
    	<span>User name: </span>
        <span sec:authentication="name"></span>
    </div>            
    <div sec:authorize="isAuthenticated()">
    	<form action="#" th:action="@{/mirosimo-logout}" method="POST" >
        	<button class="confirm-button logout-button" type="submit">Logout</button>
        </form>
    </div>
    
    
    
    <div class="user-info" sec:authorize="isAnonymous()">
    	<span>User name: </span>
        <span>Anonymous</span>        
    </div>
    <div sec:authorize="isAnonymous()">
    	<form action="#" th:action="@{/login-view}" method="POST" >
        	<button class="confirm-button logout-button" type="submit">Login</button>
        </form>
    </div>
</div>