<!------------------------------------------------------>
<!-- Error warning signboard 			              -->
<!-- When user puts wrong data into login form        -->
<!-- Than show the general error board                -->
<!------------------------------------------------------>
<div class="" th:fragment="login_warning_board">	
	 <div class="login-warning-board">
	 	<img src="/img/flashing-beacon.png" alt="alert image">
	 	<h1>Wrong User Name or Password</h1>
	 </div>	 
	 <div style="clear: both;"></div>
</div>